@import '/scss/variables.scss';

#mobile-wrap {
	.top {
		height: 54px;
		display: flex;
		position: fixed;
		z-index: 20000000000000000;
		flex-direction: row;
		padding: 0 10px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #000000;
		background-color: #fff;
		.left {
			.left-main {
				$drawer-width: 100%;
				$overlay-color: rgba(0, 0, 0, 0.5);
				$drawer-bg: #ffffff;
				$drawer-text-color: #333;
				$drawer-link-hover: underline;

				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative; // Ensure the left-main container stays in place
				gap: 15px;

				.left-icon {
					color: #000000;
					font-size: 35px;
					background: none;
					border: none;
					cursor: pointer;
					transition: none; // Disable transition if unnecessary
					position: relative; // Maintain its position relative to the container
				}

				.left-search {
					font-size: 30px;
				}

				.menu-button {
					font-size: 1.2rem;
					background-color: #000;
					color: #fff;
					border: none;
					cursor: pointer;
					transition: background-color 0.3s;

					&:hover {
						background-color: #333;
					}
				}

				// Drawer Overlay

				// Menu Links
				.drawer-menu {
					border-bottom: 1px solid #000000;
					padding: 20px;

					a {
						display: block;
						font-size: 1.2rem;
						margin-bottom: 20px;
						text-decoration: none;
						color: $drawer-text-color;
						transition: color 0.3s;
						cursor: pointer;
					}

					span {
						position: relative;
						top: -8px;
						width: 100%; // Full width of the link
						height: 1px; // Thickness of the border
						background-color: #000; // Border color
					}
				}

				.lan-box {
					display: flex;
					padding: 20px;

					.language-list {
						display: flex;
						padding: 0;
						margin: 0;

						.dropdown-item {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 10px 15px;
							cursor: pointer;
							transition: border-color 0.3s;

							img {
								width: 20px;
								margin-right: 8px;
							}

							&.selected {
								font-weight: bold;
								color: #000;
								border-bottom: 2px solid red;
							}

							&:hover {
								border-bottom: 2px solid #ccc; // Optional hover effect for unselected items
							}
						}
					}
				}
			}
		}
		.middle {
			font-size: 25px;
			font-weight: 600;
		}
		.right {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
	}
	.header-main {
		margin-top: 50px;
		.main-entit-container {
			display: flex;
			flex-direction: column;
			padding: 20px;
			gap: 20px;

			.left-side {
				text-align: center;

				h1 {
					font-size: 1.5rem; // Adjust font size for mobile
					font-weight: bold;
					margin-bottom: 15px;
					color: #333; // Text color
				}

				p {
					font-size: 1rem; // Smaller font size for mobile
					line-height: 1.5;
					color: #555; // Subdued color for description
					margin: 0;
				}
			}

			.right-side {
				display: flex;
				flex-direction: column;
				gap: 10px;

				img {
					width: 100%;
					height: auto;
					border-radius: 8px; // Add rounded corners
					object-fit: cover; // Ensure images maintain their aspect ratio
					box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Add subtle shadow
				}
			}
		}
	}
	.info-box {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		span {
			color: #181a20;
			font-family: $font;
			font-size: 34px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: -0.646px;
			text-transform: capitalize;
			&.white {
				color: #ffffff;
			}
		}
	}

	.trend-facilities {
		padding: 0px 10px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		.container {
			width: 100%;
			flex-direction: column;
			.info-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				p {
					font-size: 14px;
				}
			}
			.card-box {
				position: relative;
				margin-top: 25px;
				display: flex;
				flex-direction: row;
				.empty-list {
					width: 100%;
					height: 280px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.trend-facility-swiper {
					width: 100%;
					height: 400px;
					display: flex;
					flex-direction: row;
					.trend-facility-slide {
						width: 98%;
						height: auto;
						display: flex;
						.trend-card-box {
							position: relative;
							width: 100%;
							height: 375px;
							display: flex;
							flex-direction: column;
							.card-img {
								position: relative;
								width: 100%;
								height: 203px;
								background-size: cover;
								border-radius: 12px 12px 0px 0px;
								cursor: pointer;
								div {
									position: absolute;
									padding: 8px 12px;
									left: 12px;
									bottom: 12px;
									border-radius: 6px;
									background: #6a6a6a;
									color: #f8f8f8;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.info {
								padding: 20px 22px 17px;
								display: flex;
								flex-direction: column;
								box-sizing: border-box;
								border-radius: 0px 0px 12px 12px;
								border: 1px solid rgba(196, 196, 196, 0.71);
								border-top: none;
								background: #fff;
								box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
								.title {
									overflow: hidden;
									color: #181a20;
									text-overflow: ellipsis;
									white-space: nowrap;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: capitalize;
									cursor: pointer;
								}
								.desc {
									margin-top: 5px;
									overflow: hidden;
									color: #717171;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
								.options {
									margin-top: 15px;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									div {
										display: flex;
										flex-direction: row;
										img {
											margin-right: 5px;
											width: 17px;
											height: 17px;
										}
										span {
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}
								.bott {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									p {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-transform: capitalize;
									}
									button {
										margin-left: 7px;
										width: 16px;
										height: 16px;
										box-sizing: border-box;
									}
									.view-like-box {
										display: flex;
										flex-direction: row;
										gap: 7px;
										align-items: center;
										.view-cnt {
											color: #717171;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											text-overflow: ellipsis;
										}
										.liked-facilities {
											position: relative;
											left: 250px;
										}
									}
								}
							}
						}
					}
				}
				.trend-card-box {
					position: relative;
					width: 300px;
					height: 375px;
					display: flex;
					flex-direction: column;
					.card-img {
						position: relative;
						width: 100%;
						height: 203px;
						background-size: cover;
						border-radius: 12px 12px 0px 0px;
						cursor: pointer;
						div {
							position: absolute;
							padding: 8px 12px;
							left: 12px;
							bottom: 12px;
							border-radius: 6px;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
					}
					.info {
						padding: 20px 22px 17px;
						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						border-radius: 0px 0px 12px 12px;
						border: 1px solid rgba(196, 196, 196, 0.71);
						border-top: none;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						.title {
							overflow: hidden;
							color: #181a20;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							text-transform: capitalize;
							cursor: pointer;
						}
						.desc {
							margin-top: 5px;
							overflow: hidden;
							color: #717171;
							font-family: $font;
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.options {
							margin-top: 15px;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							div {
								display: flex;
								flex-direction: row;
								img {
									margin-right: 5px;
									width: 17px;
									height: 17px;
								}
								span {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
						.bott {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							p {
								color: #181a20;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-transform: capitalize;
							}
							button {
								margin-left: 7px;
								width: 16px;
								height: 16px;
								box-sizing: border-box;
							}
							.view-like-box {
								display: flex;
								flex-direction: row;
								gap: 7px;
								align-items: center;
								.view-cnt {
									color: #717171;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-overflow: ellipsis;
								}
							}
						}
					}
				}
			}
		}
	}

	.popular-facilities {
		padding: 10px 10px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		background: #f6f6f6;
		.container {
			width: 100%;
			flex-direction: column;
			align-items: center;
			.card-box {
				margin-top: 25px;
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.popular-facility-swiper {
					width: 100%;
					height: 390px;
					display: flex;
					flex-direction: row;
					.popular-facility-slide {
						width: 98%;
						height: auto;
						display: flex;
					}
				}
				.popular-card-box {
					position: relative;
					width: 100%;
					height: 425px;
					display: flex;
					flex-direction: column;
					.card-img {
						position: relative;
						width: 100%;
						height: 203px;
						background-size: cover;
						border-radius: 12px 12px 0px 0px;
						cursor: pointer;
						div.status {
							position: absolute;
							padding: 6px 34px;
							left: 20px;
							top: 20px;
							display: flex;
							align-items: center;
							border-radius: 6px;
							background: #eb6753;
							img {
								width: 14px;
								height: 14px;
							}
							span {
								margin-left: 5px;
								color: #fff;
								font-family: $font;
								font-size: 12px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: uppercase;
							}
						}
						div.price {
							position: absolute;
							padding: 8px 12px;
							left: 20px;
							bottom: 20px;
							border-radius: 6px;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
					}
					.info {
						padding: 20px 22px 17px;
						display: flex;
						flex-direction: column;
						box-sizing: border-box;
						border-radius: 0px 0px 12px 12px;
						border: 1px solid rgba(196, 196, 196, 0.71);
						border-top: none;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						.title {
							overflow: hidden;
							color: #181a20;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							text-transform: capitalize;
							cursor: pointer;
						}
						.desc {
							margin-top: 5px;
							overflow: hidden;
							color: #717171;
							font-family: $font;
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.options {
							margin-top: 15px;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							div {
								display: flex;
								flex-direction: row;
								img {
									margin-right: 5px;
									width: 17px;
									height: 17px;
								}
								span {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
						.bott {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							p {
								color: #181a20;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								text-transform: capitalize;
							}
							button {
								margin-left: 7px;
								width: 16px;
								height: 16px;
								box-sizing: border-box;
							}
							.view-like-box {
								display: flex;
								flex-direction: row;
								gap: 7px;
								align-items: center;
								.view-cnt {
									color: #717171;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-overflow: ellipsis;
								}
							}
						}
					}
				}
			}
			.pagination-box {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				.swiper-pagination-bullet.swiper-pagination-bullet-active {
					background: #000000;
				}
				.swiper-popular-next {
					margin-left: 20px;
					cursor: pointer;
				}
				.swiper-popular-prev {
					margin-right: 20px;
					cursor: pointer;
				}
			}
		}
	}

	.video-frame {
		margin: 20px 0;
		width: 100%;
		height: 300px;
		background: black;
		transform: perspective(0px);
		box-shadow: -3px 0px 20px 14px #34343480;
	}

	.top-facilities {
		padding: 0px 10px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			.card-box {
				position: relative;
				margin-top: 25px;
				display: flex;
				flex-direction: row;
				.top-facility-swiper {
					width: 100%;
					height: 400px;
					display: flex;
					flex-direction: row;
					.top-facility-slide {
						width: 98%;
						height: auto;
						display: flex;
						.top-card-box {
							position: relative;
							width: 100%;
							height: 375px;
							display: flex;
							flex-direction: column;
							.card-img {
								position: relative;
								width: 100%;
								height: 203px;
								background-size: cover;
								border-radius: 12px 12px 0px 0px;
								cursor: pointer;
								div {
									position: absolute;
									padding: 8px 12px;
									left: 12px;
									bottom: 12px;
									border-radius: 6px;
									background: #fff;
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.info {
								padding: 20px 22px 17px;
								display: flex;
								flex-direction: column;
								box-sizing: border-box;
								border-radius: 0px 0px 12px 12px;
								border: 1px solid rgba(196, 196, 196, 0.71);
								border-top: none;
								background: #fff;
								box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
								.title {
									overflow: hidden;
									color: #181a20;
									text-overflow: ellipsis;
									white-space: nowrap;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: capitalize;
									cursor: pointer;
								}
								.desc {
									margin-top: 5px;
									overflow: hidden;
									color: #717171;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
								.options {
									margin-top: 15px;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									div {
										display: flex;
										flex-direction: row;
										img {
											margin-right: 5px;
											width: 17px;
											height: 17px;
										}
										span {
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
								}
								.bott {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									p {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-transform: capitalize;
									}
									button {
										margin-left: 7px;
										width: 16px;
										height: 16px;
										box-sizing: border-box;
									}
									.view-like-box {
										display: flex;
										flex-direction: row;
										gap: 7px;
										align-items: center;
										.view-cnt {
											color: #717171;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											text-overflow: ellipsis;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.top-agents {
		position: relative;
		padding: 20px 10px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		background: #f6f6f6;
		.container {
			position: relative;
			width: 100%;
			flex-direction: column;
			align-items: center;
			.wrapper {
				width: 100%;
				margin-top: 25px;
				display: flex;
				flex-direction: row;
				align-items: center;
				.top-agents-swiper {
					width: 100%;
					height: 280px;
					display: flex;
					flex-direction: row;
					.top-agents-slide {
						width: 98%;
						height: auto;
						display: flex;
						.top-agent-card {
							width: 100%;
							height: 280px;
							display: flex;
							flex-direction: column;
							align-items: center;
							img {
								width: 209px;
								height: 209px;
								border-radius: 50%;
								cursor: pointer;
								object-fit: cover;
							}
							strong {
								margin-top: 10px;
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							span {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px;
							}
						}
					}
				}
			}
		}
	}

	#footer {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: #f47200;
		$bg-color: #060f2b;
		$primary-color: #81c408;
		$secondary-color: #ffb514;
		$text-color: #ffffff80;
		$hover-bg-color: #ffb524;
		$icon-bg-color: #ffffff;
		.main-upper-container {
			position: relative;
			background-color: $bg-color;

			.left-side-up {
				text-align: center;
				.left-entitle {
					color: $primary-color;
					font-family: 'Raleway', sans-serif;
					font-weight: 700;
					font-size: 36px;
				}

				.left-topic {
					margin-top: 5px;
					color: $secondary-color;
					font-family: 'Raleway', sans-serif;
					font-weight: 500;
					font-size: 18px;
				}
			}

			.right-side-up {
				position: relative;
				top: -25px;
				gap: 8px;
				.main-icons-controller {
					display: flex;
					column-gap: 16px;
				}

				.icon {
					position: relative;
					top: 10px;
					width: 44px;
					height: 44px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					border: 1px solid $hover-bg-color;
					color: $hover-bg-color;
					transition: all 0.3s ease;
					cursor: pointer;

					&:hover {
						background-color: $hover-bg-color;
						color: #000;
					}
				}
			}
			.left-side1 {
				.down-button {
					position: relative;
					top: 10px;
					width: 130px;
					background-color: transparent;
				}
			}
		}
	}
}
